.git
.gitignore
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
venv/
bin/
include/
lib/
share/
etc/
pyvenv.cfg
logs/
run/
app/db/*.db
.env
.streamlit/secrets.toml
